body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.App {
    text-align: center;
}

